<launch>

    <!-- 将 Urdf 文件的内容加载到参数服务器 -->
   <param name="robot_description" command="$(find xacro)/xacro $(find urdf02_gazebo)/urdf/car.xacro" />
    <!-- 启动 Gazebo 的仿真环境，当前环境为空环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
            <arg name="world_name" value="$(find urdf02_gazebo)/worlds/stair.world" />
    </include>
    <!-- 在 gazebo 中显示机器人模型 -->
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model mycar -param robot_description"  />
</launch>
